/*navbar*/

.navbar {
    background-color: rgb(43, 43, 134);
    position: relative;
    overflow: hidden;
}

.navbar #myLinks {
    display: none;
    text-align: center;
}

.navbar a {
    color: rgb(255, 221, 0);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.navbar a.icon {
    background: rgb(43, 43, 134);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.links {
    background-color: rgb(43, 43, 134);
    position: relative;
    overflow: hidden;
}

.links a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    color: white;
    height:20px;
}



/*index.html*/

body {
    display: grid;
}

.fatbuttons > a {
    background-color:rgb(43, 43, 134);
    border: 5px solid rgb(250, 250, 190);
    color: rgb(255, 221, 0);
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 5px;
    width:150px;
    border-radius: 25px;
    text-decoration: none;
}

section {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
}


.title {
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
    color: rgb(43, 43, 134);
}


/*quiz.html*/

h2 {
    text-align: center;
}

body > div {
    text-align: center;
}

form > div {
    padding: 5px;
}

button {
    text-align: center;
    width: 30%;
    height: 35px;
    margin-left: 35%;
    padding: 50px;
    border-width: 25px;
}

/*specializations.html*/
#specializations > p{
    text-align: left;
}
#specializations > h2{
    text-align: left;
}


/*resources.html*/
body {
    background-color: rgb(250, 250, 190);
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(43, 43, 134);
}

li {
    list-style-type: none;
    padding: 0 0 4px 23px;
    background: url(https://www.computerhope.com/cdn/arrow.png) no-repeat left center;
    text-align: left;
   }
a {
    text-decoration: none;
    color: orangered;
}
/*aboutus.html*/
h1 {
    text-align: center;
}
